
<div class="facebook aside-section">
  <div class="fb-page" data-href="<%= link %>" data-tabs="timeline,events,messages"
       data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
       data-show-facepile="true">
    <blockquote cite="<%= link %>" class="fb-xfbml-parse-ignore">
      <a href="<%= link %>">Місто на &quot;Че&quot;</a>
    </blockquote>
  </div>
</div>