<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"></h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="modal-image">
          <div class="image"></div>
        </div>
        <div class="modal-text">
          <div class="description"></div>
          <br>
          <div class="row event-info">
            <div class="col-md-6"><div class="start_date"></div></div>
            <div class="col-md-6"><div class="place"></div></div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->