<div class="row" >
  <div class="col-md-12 go-description-block">
    <h2 class="title go-title">Про громадську організацію</h2>
    <div class="go-desc-img col-md-5">
      <%= image_tag('go.jpg') %>
    </div>
    <div class="go-description col-md-7"><p>Громадська організація "Асоціація громадських ініціатив
      "Місто на "Че" об'єднує активних та небайдужих містян, які прагнуть
      вдосконалювати рідне місто, впроваджуючи корисні ініціативи різного спрямування.</p><br>
      <p>Це - спільнота черкасців, які готові захищати свої права та свободи
        заради процвітання Черкас. Ми ініціюємо та спрямовуємо активні дії,
        попереджаючи взавдання шкоди місту та містянам.</p><br>
      <p>Це - активні люди, для яких місто важить більше за бізнес та власну вигоду.
        Ми віднаходимо та генеруємо ідеї, що здатні вивести місто на новий, значно якісніший рівень.
        Ми захоплюємося історією, стимулюючи її пізнання, обожнюємо рідну мову,
        надихаємося мистецтвом та всіляко підтримуємо його розвиток.</p>
    </div>
  </div>
</div>