<div class="row">
  <div class="col-lg-12">
    <div class="kinoshot-logo"></div>
    <div class="kinoshot-container">
      <div class="fest-info"><strong>Літо 2017</strong></div>
      <hr class="text-divider">
      <p class="kinoshot-title">КіноШот</p>
      <div class="kinofest-text">
        <p>— це мистецький захід для творчого спілкування, розширення й зміцнення творчих та дружніх зв'язків, обміну
          досвідом між молодими українськими режисерами і заслуженими кінематографістами України
        </p>
        <p>
          Черкаський фестиваль короткометражного кіно "КіноШот" — це подія, унікальна для Черкас.
        </p>
        <p>
          Фестиваль відбуватиметься під відкритим небом на березі Дніпра, у мальовничій Долині Троянд.
        </p>
      </div>
      <hr class="text-divider">
      <div class="col-lg-6"></div>
      <div class="col-lg-6">
        <div class="pro-fest">
          <p class="pro-fest-title">ПРО ФЕСТ</p>
          <p class="pro-fest-text">
            На вас чекає насичена програма, розрахована на три дні. У рамках фесту буде проходити конкурс українських
            короткометражок. Учасники можуть позмагатися в номінаціях:
          </p>
          <p class="nominations">"Кращий короткометражний фільм";</p>
          <p class="nominations">"Краща режисура";</p>
          <p class="nominations">"Кращий сценарій".</p>
        </div>
        <br><br>
        <div class="pozakonkursna-programa">
          <p class="pro-fest-title">Позаконкурсна програма</p>
          <p class="pro-fest-text">
            Не менш цікава позаконкурсна програма містить кращі українські короткі метри, що брали участь та перемагали
            у міжнародних кінофестивалях, а також спеціальні покази на соціальну тематику, які розкривають проблеми
            сучасного суспільства.
          </p>
        </div>
        <br><br>
        <div class="for-kinomans">
          <p class="pro-fest-title">Для завзятих кіноманів</p>
          <p class="pro-fest-text">
            Для завзятих кіноманів передбачено цікаві кінолекторії, автограф-сесії, творчі зустрічі з відомими діячами
            культури та мистецтва.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
