<% provide(:title, 'Про Черкаси') %>
<div class="col-md-10">
  <div class="row pro_che_baners">
    <div class="col-lg-4">
      <%=link_to image_tag('video.jpg'), pro_che_video_path, { remote: true,
                                                                    'data-toggle' =>  'modal',
                                                                    'data-target' => '#modal-window'}  %>
    </div>
    <div class="col-lg-4">
      <%=link_to image_tag('istoriya.jpg'), pro_che_history_path, { remote: true,
                                                                    'data-toggle' =>  'modal',
                                                                    'data-target' => '#modal-window'}  %>
    </div>
    <div class="col-lg-4">
      <%= link_to image_tag('gerb.jpg'), pro_che_emblems_path, { remote: true,
                                                                 'data-toggle' =>  'modal',
                                                                 'data-target' => '#modal-window'}   %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83034.2787691169!2d31.9787419021494!3d49.43119404578688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d14b866064977f%3A0xf8dce723a9cbb5d8!2z0KfQtdGA0LrQsNGB0YHRiywg0KfQtdGA0LrQsNGB0YHQutCw0Y8g0L7QsdC70LDRgdGC0Yw!5e0!3m2!1sru!2sua!4v1488636170750" width="100%" height="650" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>

  <%= render 'shared/gallery_slider' %>

</div>