<div class="aside-section">
  <h5 class="section-header">
    <span>Календар подій</span>
  </h5>
  <div class="custom-calendar-wrap">
    <div id="custom-inner">
      <div class="custom-header clearfix">
        <nav>
          <span id="custom-prev" class="custom-prev"></span>
          <span id="custom-next" class="custom-next"></span>
        </nav>
        <h2 id="custom-month" class="custom-month">February</h2>
        <h3 id="custom-year" class="custom-year">2017</h3>
      </div>
      <div id="calendar" class="fc-calendar-container"></div>
    </div>
  </div>
</div>
<div class="aside-section">
  <ul>
    <h5 class="section-header">
      <span>Місце події</span>
    </h5>
    <div class="filter-container">
      <div class="filter-title">Обрати місце:</div>
      <div class="selected-place"  data-toggle="collapse" data-target="#places-collapse">Усі місця</div>
      <div id="places-collapse" class="collapse collapse-item">
        <li>
          <%= link_to 'Усі місця', fetch_events_places_path(place_id: 'all'), remote: true, class: 'place-filter' %>
        </li>
        <% @places.by_name.each do |place| %>
          <li>
            <%= link_to place.name, fetch_events_places_path(place_id: place.id), remote: true, class: 'place-filter' %>
          </li>
        <% end %>
      </div>
    </div>
  </ul>
</div>