<div class="aside-section">
  <h5 class="section-header">
    <span>Календар подій</span>
  </h5>
  <div class="custom-calendar-wrap">
    <div id="custom-inner">
      <div class="custom-header clearfix">
        <nav>
          <span id="custom-prev" class="custom-prev"></span>
          <span id="custom-next" class="custom-next"></span>
        </nav>
        <h2 id="custom-month" class="custom-month">February</h2>
        <h3 id="custom-year" class="custom-year">2017</h3>
      </div>
      <div id="calendar" class="fc-calendar-container"></div>
    </div>
  </div>
</div>
<div class="aside-section">
  <ul class="place-filter">
    <h5 class="section-header">
      <span>Місце події</span>
    </h5>
    <% @places.by_name.each do |place| %>
      <li class="place-name" data-place-id="<%= place.id %>">
        <h3><%= place.name %></h3>
      </li>
    <% end %>
  </ul>
</div>