<div class="col-xs-6 col-md-3 event">
  <%= link_to (image_tag event.image.url(:medium), class:'img-responsive'), event, {remote: true, class: 'event-poster', 'data-toggle' =>  'modal', 'data-target' => '#modal-window'} %>
  <h3 class="event-title"><%= event.title %></h3>
  <span class="event-inscription">
    <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;<%= l event.start_date, format: :short %>
  </span>
  <span class="event-inscription">
    <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;<%= event.place.name %>
  </span>
</div>