<% provide(:title, 'Афіша') %>
<div class="col-lg-7">
  <div class="row events">
    <%= render @events %>
  </div>
</div>
<div class="col-lg-3">
  <%= render 'event_controls' %>
  <%= render 'shared/right_bar/banner' %>
  <%= render 'shared/right_bar/facebook' %>
</div>