<div class="col-lg-7">
  <div class="row events">
    <%= render partial: 'event', collection: @events %>
  </div>
</div>
<div class="col-lg-3">
  <%= render partial: 'event_controls' %>
  <%= render partial: 'shared/right_bar/banner' %>
  <%= render partial: 'shared/right_bar/facebook' %>
</div>