<div class="col-md-10">
  <div class="row">
    <div class="go-title">
      <h1 class="go-title">Фотогалерея міста на "Че"</h1>
    </div>
    <% @galleries.each do |gallery| %>
      <div class="col-md-4">
        <%= link_to(gallery, class: 'main-photo-index') do %>
          <%= content_tag(:span, gallery.title) %>
          <%= image_tag gallery.main_photo.url(:main_photo_index) %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="gallery-pagination">
      <%= will_paginate %>
    </div>
  </div>
  <div class="gallery-bottom-separator"></div>
</div>
