/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

@font-face {
  font-family: Narbut_Abetka;
  src: url(Narbut_Abetka.ttf);
}

@font-face {
  font-family: Narbut_Classic;
  src: url(Narbut_Classic.ttf);
}

@font-face {
  font-family: Narbut_Extra_Wide;
  src: url(Narbut_Extra_Wide.ttf);
}

@font-face {
  font-family: Narbut_Narrow_Contrast;
  src: url(Narbut_Narrow_Contrast.ttf);
}

@font-face {
  font-family: Narbut_Whirl;
  src: url(Narbut_Whirl.ttf);
}

@font-face {
  font-family: OpenSans-CondBold;
  src: url(OpenSans-CondBold.ttf);
}

@font-face {
  font-family: OpenSans-CondLight;
  src: url(OpenSans-CondLight.ttf);
}

@font-face {
  font-family: OpenSans-CondLightItalic;
  src: url(OpenSans-CondLightItalic.ttf);
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #f9f9f9;
  font: 14px/18px 'Times New Roman', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;

  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a, a:hover {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

#header {
  width: 100%;
  height: 315px;
  background-color: #fff;
}

.logo {
  width: 100px;
  height: 30px;
  float: left;
  margin-left: 60px;
  margin-top: 20px;
}

.logo a {
  font: 18px 'Times New Roman', sans-serif;
  font-weight: bold;
  color: #000;
}

.nav {
  float: right;
  margin-right: 60px;
  margin-top: 20px;
}

.nav li {
  float: left;
  margin-right: 25px;
}

.nav li:last-child {
  margin-right: 0;
}

.nav li a {
  font: 18px 'Times New Roman', sans-serif;
  font-weight: bold;
  color: #000;
}

.nav li a:hover {
  color: #00ffff
}

.col-25 {
  width: 25%;
  height: 200px;
  float: left;
}

.col-50 {
  width: 50%;
  height: 200px;
  float: left;
}

ul hr:last-child {
  display: none;
}

.social-header {
  width: 100%;
  height: 55px;
  background-color: #000;
}

.social-icons {
  float: right;
  margin-right: 60px;
  margin-top: 20px;
}

.social-icons li {
  float: left;
  margin-right: 15px;
  margin-bottom: 20px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons li a {
  color: #fff;
}

.social-icons li a:hover {
  color: #ff0000;
}

.social-header p {
  float: left;
  color: #fff;
  margin-left: 60px;
  padding-top: 20px;
  font: 20px 'Narbut_Classic', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.divider {
  display: block;
  border-bottom: 1px solid #000;
  margin-top: 1px;
}