/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import 'font-awesome.min';
@import 'layers';
@import 'navigation';
@import 'pe-icon-7-stroke';
@import 'settings';

@font-face {
  font-family: Narbut_Abetka;
  src: url(Narbut_Abetka.ttf);
}

@font-face {
  font-family: Narbut_Classic;
  src: url(Narbut_Classic.ttf);
}

@font-face {
  font-family: Narbut_Extra_Wide;
  src: url(Narbut_Extra_Wide.ttf);
}

@font-face {
  font-family: Narbut_Narrow_Contrast;
  src: url(Narbut_Narrow_Contrast.ttf);
}

@font-face {
  font-family: Narbut_Whirl;
  src: url(Narbut_Whirl.ttf);
}

@font-face {
  font-family: OpenSans-CondBold;
  src: url(OpenSans-CondBold.ttf);
}

@font-face {
  font-family: OpenSans-CondLight;
  src: url(OpenSans-CondLight.ttf);
}

@font-face {
  font-family: OpenSans-CondLightItalic;
  src: url(OpenSans-CondLightItalic.ttf);
}

@font-face {
  font-family: Bookman_Old_Style_Bold;
  src: url(Bookman_Old_Style_Bold.ttf);
}

@font-face {
  font-family: Bookman_Old_Style_Regular;
  src: url(Bookman_Old_Style_Regular.ttf);
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #f9f9f9;
  font: 14px/18px 'Times New Roman', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;

  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a, a:hover {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

div.background {
  min-height: 100%;
  background-image: url("body_background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

div.wrapper {
  width: 1300px;
  margin: auto;
}

#header {
  width: 100%;
  height: 315px;
  background-color: #fff;
  border-bottom: 1px solid #000000;
}

.logo {
  width: 500px;
  height: 100px;
  float: left;
  margin-left: 60px;
  margin-top: 45px;
  background: url("logo.png") no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

.logo a {
  display: block;
  width: 500px;
  height: 100px;
}

#SinoptikInformer {
  float: right;
  margin-top: 40px;
}

.nav {
  float: left;
  margin-left: 60px;
  margin-top: 20px;
}

.nav li {
  float: left;
  margin-right: 25px;
}

.nav li:last-child {
  margin-right: 0;
}

.nav li a {
  font: 20px 'Narbut_Narrow_Contrast', sans-serif;
  color: #000;
}

.nav li a:hover {
  color: #ff0000
}

.nav .nav-divider {
  color: #a9a9a9;
  font: 16px 'Bookman_Old_Style_Regular', sans-serif;
  font-weight: bold;
}

.search {
  float: right;
  margin-top: 14px;
  margin-right: 60px;
}

.search input {
  width: 300px;
  height: 30px;
  padding-left: 5px;
}

.search button {
  height: 30px;
  width: 30px;
  position: relative;
  right: 5px;
  background-color: #fff;
  border: 1px solid #a9a9a9;
}

.search button i {
  color: #000000;
}

.search button:hover {
  background-color: #d9dae3;
  cursor: pointer;
}

.col-25 {
  width: 25%;
  height: 200px;
  float: left;
}

.col-50 {
  width: 50%;
  height: 200px;
  float: left;
}

ul hr:last-child {
  display: none;
}

.social-header {
  width: 100%;
  height: 55px;
  background-color: #000;
}

.social-icons {
  float: right;
  margin-right: 60px;
  margin-top: 20px;
}

.social-icons li {
  float: left;
  margin-right: 15px;
  margin-bottom: 20px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons li a {
  color: #fff;
}

.social-icons li a:hover {
  color: #ff0000;
}

.social-header p {
  float: left;
  color: #fff;
  margin-left: 60px;
  padding-top: 18px;
  font: 18px 'Bookman_Old_Style_Bold', sans-serif;
  text-transform: uppercase;
}

.divider {
  display: block;
  border-bottom: 1px solid #000;
  margin-top: 1px;
}

.divider-nav {
  display: block;
  border-bottom: 1px solid #a9a9a9;
  margin-top: 200px;
}

.solid-divider {
  display: block;
  border-bottom: 2px solid #000000;
  margin-top: 58px;
  position: relative;
  z-index: 1;
}

#content {
  width: 100%;
  height: 1070px;
  background-color: #fff;
}

.container {
  margin-top: 25px;
  margin-left: 60px;
  display: block;
  width: 170px;
  height: 75px;
  border: 1px solid #a9a9a9;
}

.container .latest-news {
  margin: auto;
  margin-top: 12px;
  display: block;
  width: 145px;
  height: 50px;
  border: 1px solid #a9a9a9;
}

.container .latest-news p {
  font: 20px 'Narbut_Whirl', sans-serif;
  text-transform: uppercase;
  margin-top: 15px;
  text-align: center;
}

.news {
  margin-top: 20px;
}

.news li {
  margin-top: 10px;
}

.news li:first-child {
  margin-top: 0;
}

.news li a {
  color: #000000;
  font: 15px/5px 'Bookman_Old_Style_Regular', sans-serif;
  font-weight: bold;
}

.news li a:hover {
  color: #ff0000;
}

.news p {
  margin-top: 5px;
  margin-bottom: 5px;
  font: 10px 'Bookman_Old_Style_Regular', sans-serif;
}

.novelties {
  display: block;
  margin-left: 60px;
  margin-bottom: 10px;
  width: 170px;
  height: auto;
  border-bottom: 1px solid #a9a9a9;
}

.novelties:last-child {
  border-bottom: none;
}

.container_2 {
  margin-top: 25px;
  margin-right: 60px;
  display: block;
  width: 315px;
  height: 75px;
  border: 1px solid #a9a9a9;
}

.container_2 .categories {
  margin: auto;
  margin-top: 12px;
  display: block;
  width: 285px;
  height: 50px;
  border: 1px solid #a9a9a9;
}

.container_2 .categories p {
  font: 20px 'Narbut_Whirl', sans-serif;
  text-transform: uppercase;
  margin-top: 15px;
  text-align: center;
}

#footer {
  width: 100%;
  height: 570px;
  background-color: #000000;
}

#footer .copyright {
  position: relative;
  bottom: -540px;
  color: #fff;
  text-align: center;
}

.announcement {
  margin-top: 20px;
  height: 150px;
  border-bottom: 5px solid #b05155;
}

.announcement:last-child {
  border-bottom: none;
}

.announcement h2 {
  text-align: center;
}

.announcement h2 a {
  text-decoration: none;
  color: #000000;
  font: 20px 'Bookman_Old_Style_Bold', sans-serif;
}

.announcement h2 a:hover {
  color: #ff0000;
}

.announcement .body {
  margin-top: 7px;
  margin-bottom: 10px;
}

.announcement .author {
  margin-top: 5px;
  float: left;
  color: #999999;
  font: 17px 'Bookman_Old_Style_Regular', sans-serif;
}

.announcement .created_at {
  float: right;
  margin-top: 5px;
  color: #999999;
  font: 17px 'Bookman_Old_Style_Regular', sans-serif;
}

.announcement .created_at i {
  color: #000000;
}

.announcement .author i {
  color: #000000;
}

section.example {
  margin-top: 25px;
}
