/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 */

@import "twitter-bootstrap-static/bootstrap";
@import 'twitter-bootstrap-static/sprites';
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'layers';
@import 'navigation';
@import 'pe-icon-7-stroke';
@import 'settings';
@import "weather/weather-icons";
@import "weather/weather-icons.min";
@import "weather/weather-icons-wind";
@import "weather/weather-icons-wind.min";
@import "jquery.mCustomScrollbar";
@import "slick";
@import "slick-theme";
@import "fancybox/jquery.fancybox";
@import "fancybox/jquery.fancybox-buttons";
@import "fancybox/jquery.fancybox-thumbs";

@import "calendario/calendar";
@import "calendario/custom_2";

@import "fonts";
@import "configuration";

@import "header";
@import "single-announcement";
@import "announcements";
@import "galleries";
@import "events";
@import "kinoshot";
@import "bootstrap_and_overrides";
@import "just_datetime_picker/base";

div.background {

  min-height: 100%;
  background-image: image-url("body_background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;

}

div.wrapper {
  width: 1300px;
  margin: auto;
}

.solid-divider {
  display: block;
  border-bottom: 2px solid #000000;
  position: relative;
  top: -18px;
  z-index: 1;
}

#content {
  background: $white;
  padding-top: 50px;
  .content-bg {
    margin-left: 0;
    margin-right: 0;
  }

  .galleries-slider {
    .carousel-slider {
      .slider-image > img {
        display: block;
        margin: 0 auto 30px;
        max-width: 220px !important;
        height: auto !important;
      }
    }
    .slick-prev {
      left: 0 !important;
      z-index: 1;
      margin-left: 2%;
    }
    .slick-next {
      right: 0 !important;
      z-index: 1;
      margin-right: 2%;
    }
  }
}

.banner {
  &-top {
    @extend .image-responsive;
  }

  &-bottom {
    @extend .image-responsive;
  }

  &-right {
    @extend .image-responsive;
  }
}

.top-slider {
  margin-bottom: 15px;
  .announcement-title {
       display: block;
        color: $white;
        text-shadow: $black 0 0 2px;
        font: 18px 'Bookman_Old_Style_Bold', sans-serif !important;
        left: 13px;
        white-space: normal !important;
        width: 420px !important;
        padding: 0 0 10px !important;
        padding-right: 10px !important;
        text-decoration: none;
        background-color: transparent;
        border: 0 none transparent;
        border-radius: 0 0 0 0;
        text-transform: uppercase;
        word-wrap: break-word;
  }
  .announcement-body {
    color: $white;
    font: 15px/5px 'Bookman_Old_Style_Regular', sans-serif;
  }
}

.novelties {
  .novelty {
    margin-bottom: 10px;
    &-title a {
      @extend .link;
      font: 15px/5px 'Bookman_Old_Style_Regular', sans-serif;
      font-weight: 600;
    }
    &-source {
      color: $gray2;
      font-size: 12px;
    }
    &:after {
      @extend .horizontal-divider;
    }
  }
}

ul hr:last-child {
  display: none;
}

.pagination-button {
  @extend .transition;

  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin: 10px 1px 20px 1px;
  border: 1px solid $gray2;
  color: $gray2;
  font-weight: 700;

  &:hover {
    border: 1px solid black;
    cursor: pointer;
    background: black;
    color: white;
  }
}

.pagination {
  text-align: center;
  a, em, span {
    @extend .pagination-button;
  }
  a {
    @extend .link;
  }
}

#footer {
  background-color: #000000;
  color: #CCCCCC;
  padding: 20px;
  font-family: Helvetica, Arial;
  font-size: 12px;
  .logo {
    display: block;
    background: image-url("logo-white.png") no-repeat;
    width: 250px;
    height: 60px;
    background-size: cover;
    max-width: 100%;
    margin-bottom: 10px;
  }
  a {
    color: #cccccc;
    text-decoration: underline;
  }
}

.aside-section {
  margin-bottom: 20px;

  .announcement {
    &-image img {
      max-width: 100px;
      float: left;
    }
    &-title {
      padding: 0;
      margin-left: 110px;
    }
    &-info {
      padding-top: 5px;
      clear: both;
    }
    &:after {
      @extend .horizontal-divider;
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }
}

.top-announcement{
  height: 150px;
}

.announcement {
  margin-bottom: 5px;

  &-author, &-date, &-category {
    @extend .secondary-text;
  }

  &-title {
    margin-bottom: 10px;
    a {
      @extend .link;
    }
  }
  &-body {
    margin-bottom: 5px;
  }

  &-image > img {
    @extend .image-responsive;
  }

  &:after {
    @extend .horizontal-divider;
  }
  .announcement-next {
    text-align: right;
    a {
      text-decoration: underline;
    }
  }
}

.weather {
  color: #fff !important;
  margin-left: 25px !important;
}

/*category show page*/

.category-name {
  margin-top: 25px;
  font: 25px 'Bookman_Old_Style_Regular', sans-serif;
  font-weight: bold;
}

.category-article {
  border-bottom: 5px solid #b05155;
  margin-top: 20px;
  height: 150px;
}

.category-article:last-child {
  border: none;
}

.category-article h3 {
  text-align: center;
}

.category-article h3 a {
  color: #000000;
  font: 20px 'Bookman_Old_Style_Bold', sans-serif;
}

.category-article h3 a:hover {
  color: #ff0000;
}

/*announcement show page*/

.main-image {
  margin-top: 10px;
  margin-left: 60px;
  text-align: center;
}

.announcement .title {
  color: #000000;
  font: 20px 'Bookman_Old_Style_Bold', sans-serif;
}

.team {
  text-align: center;
  .photo {
    img {
      margin-bottom: 10px;
      max-width: 100%;
    }
  }
}
.go-description{
  font: 15px 'Bookman_Old_Style_Regular', sans-serif;
  margin-bottom: 40px;
}
.go-title{
  text-align: center;
}

.modal-image{
  img{
    margin-bottom: 20px !important;
    margin-right: 15px !important;
    margin-left: 20px;
  }
  float: left;
}
.modal-text{
 margin-left: 20px;
  margin-right: 20px;
}
.event-info{
  float: bottom;
}
.kinishot-links{
  img{
    margin-bottom: 20px;
  }
  a {
    margin-bottom: 20px;
  }
}
.banner-top{
  margin-bottom: 20px;
}
.banner-bottom{
  margin-bottom: 20px;
}
.category-sidetitle {
  font: 20px 'Bookman_Old_Style_Bold', sans-serif;

  .black-link{
    color: #2E2F30;
  }
}
.navbar{
  z-index: 1;
  button{
    float: left;
  }
}
@media screen and (min-width: 1400px){
.container{
  width: 1400px;
}}
@media screen and (min-width: 998px) and (max-width: 1400px) {
  .container{
    padding: 0;
    width: 100%;
  }
}
@media screen and (max-width: 998px){
  .container{
    max-width: 600px;
  }
}
@media (max-width: 998px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  #header {
    height: 251px;
    .divider-nav{
    margin-top: 20px;
  }}
}
@media screen and (max-width: 1200px) {
  .pro_che_baners{
    text-align: center;
  }
}