
$white: #fff;
$gray: #cccccc;
$gray2: #525252;

$black: #000;

$red: #ff0000;

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #f9f9f9;
  font: 14px/18px 'Times New Roman', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;

  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a, a:hover {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.clearfix:before,
.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center-block {
  margin: 0 auto;
}

.flexbox {
  display: flex;
}

.link {
  color: $black;
  cursor: pointer;
  
  &:hover {
    color: $red;
  }
}

.no-padding-right {
  padding-right: 0;
}

.transition {
  transition: all 0.3s ease;
}

.image-responsive {
  max-width: 100%;
  height: auto;
}

.secondary-text {
  color: $gray2;
  font-size: 13px;
  margin-right: 5px;

  a {
    color: $gray2;
    &:hover {
      color: lighten($red, 10%);
    }
  }
}

.horizontal-divider {
  content: "";
  height: 1px;
  background: #e5e5e5;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
  position: relative;
}

.section-header {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #cccccc;
  display: inline-block;
  font: 20px 'Narbut_Whirl', sans-serif;
  width: 100%;
  text-align: center;

  span {
    border: 1px solid #cccccc;
    display: table;
    height: 45px;
    line-height: 25px;
    padding: 10px 0;
    width: 100%;
    text-transform: uppercase;

    a {
      @extend .link;
    }
  }
}


.go-title {
  margin-bottom: 20px;
  text-align: center;
  h1 {
    font: 30px 'Narbut_Whirl', sans-serif;
  }
}