.events {
  .event {
    height: 360px;
    &-poster {
      width: 100%;
      height: 240px;
      background: antiquewhite;
    }
    &-title {

    }
    &-inscription {
      display: block;
      @extend .secondary-text;
    }
  }

  .custom {
    &-calendar-wrap {
      margin: 10px auto;
      position: relative;
      overflow: hidden;
    }

    &-inner {
      background: #fff;
      box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    }

    &-inner:before,
    &-inner:after  {
      content: '';
      width: 99%;
      height: 50%;
      position: absolute;
      background: #f6f6f6;
      bottom: -4px;
      left: 0.5%;
      z-index: -1;
      box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    }

    &-inner:after {
      content: '';
      width: 98%;
      bottom: -7px;
      left: 1%;
      z-index: -2;
    }

    &-header {
      background: #fff;
      padding: 5px 10px 10px 20px;
      height: 70px;
      position: relative;
      border-top: 5px solid #000000;
      border-bottom: 1px solid #ddd;
    }

    &-header h2,
    &-header h3 {
      text-align: center;
      text-transform: uppercase;
    }

    &-header h2 {
      color: #495468;
      font-weight: 300;
      font-size: 18px;
      margin-top: 10px;
    }

    &-header h3 {
      font-size: 10px;
      font-weight: 700;
      color: #b7bbc2;
    }

    &-header nav span {
      position: absolute;
      top: 17px;
      width: 30px;
      height: 30px;
      color: transparent;
      cursor: pointer;
      margin: 0 1px;
      font-size: 20px;
      line-height: 30px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    &-header nav span:first-child {
      left: 5px;
    }

    &-header nav span:last-child {
      right: 5px;
    }

    &-header nav span:before {
      font-family: 'fontawesome-selected';
      color: #000000;
      position: absolute;
      text-align: center;
      width: 100%;
    }

    &-header nav span.custom-prev:before {
      content: '\25c2';
    }

    &-header nav span.custom-next:before {
      content: '\25b8';
    }

    &-header nav span:hover:before {
      color: #495468;
    }

    &-content-reveal {
      background: #f6f6f6;
      background: rgba(246, 246, 246, 0.9);
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 100;
      top: 100%;
      left: 0px;
      text-align: center;
      -webkit-transition: all 0.6s ease-in-out;
      -moz-transition: all 0.6s ease-in-out;
      -o-transition: all 0.6s ease-in-out;
      -ms-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out;
    }

    &-content-reveal span &-content-close {
      position: absolute;
      top: 15px;
      right: 10px;
      width: 20px;
      height: 20px;
      text-align: center;
      color: #000000;
      box-shadow: 0 1px 1px rgba(0,0,0,0.1);
      cursor: pointer;
      line-height: 13px;
      padding: 0;
    }

    &-content-reveal span &-content-close:after {
      content: 'x';
      font-size: 18px;
      color: #fff;
    }

    &-content-reveal a,
    &-content-reveal span {
      font-size: 22px;
      padding: 10px 30px;
      display: block;
    }

    &-content-reveal h4 {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 300;
      letter-spacing: 3px;
      color: #777;
      padding: 20px;
      background: #fff;
      border-bottom: 1px solid #ddd;
      border-top: 5px solid #000000;
      box-shadow: 0 1px rgba(255,255,255,0.9);
      margin-bottom: 30px;
    }

    &-content-reveal span {
      color: #888;
    }

    &-content-reveal a {
      color: #000000;
    }

    &-content-reveal a:hover {
      color: #333;
    }
  }

  /* Modifications */

  .fc-calendar {

    &-container {
      height: 245px;
      width: auto;
      padding: 15px;
      background: #f6f6f6;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.8);
    }

    .fc-head {
      background: transparent;
      color: #000000;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
    }

    .fc-row {
      div {
        background: #fff;
        cursor: pointer;
      }

      div:empty {
        background: transparent;
      }

      span.fc-date {
        top: 40%;
        left: 50%;
        text-align: center;
        margin: -10px 0 0 -15px;
        color: #686a6e;
        font-weight: 400;
        pointer-events: none;
      }

      div.fc-today {
        background: #000000;
        box-shadow: inset 0 -1px 1px rgba(0,0,0,0.1);
      }

      div.fc-today > span.fc-date {
        color: #fff;
        text-shadow: 0 1px 1px rgba(0,0,0,0.1);
      }

      div.fc-content:after {
        content: '\00B7';
        text-align: center;
        width: 20px;
        margin-left: -25%;
        position: absolute;
        color: #DDD;
        font-size: 60px;
        line-height: 15px;
        left: 50%;
        bottom: 0;
      }

      div.fc-today.fc-content:after {
        color: #000000;
      }

      div.fc-content:hover:after{
        color: #000000;
      }

      div.fc-today.fc-content:hover:after{
        color: #fff;
      }

      div > div a,
      div > div span {
        display: none;
        font-size: 22px;
      }
    }

    @media screen and (max-width: 400px) {
      .fc-calendar-container {
        height: 300px;
      }
      .fc-calendar .fc-row > div > span.fc-date {
        font-size: 15px;
      }
    }
  }

  .place {
    &-filter {

    }

    &-name {
      @extend .link;
      font: 15px/5px 'Bookman_Old_Style_Regular', sans-serif;
      font-weight: 600;
      line-height: 30px;
    }
  }
}
.event-descr{
  text-decoration: none;
  font: 14px 'Bookman_Old_Style_Regular', sans-serif;
  border: none;
  background: $white;
}