@font-face {
  font-family: Narbut_Abetka;
  src: font-url('Narbut_Abetka.ttf');
}

@font-face {
  font-family: Narbut_Classic;
  src: font-url('Narbut_Classic.ttf');
}

@font-face {
  font-family: Narbut_Extra_Wide;
  src: font-url('Narbut_Extra_Wide.ttf');
}

@font-face {
  font-family: Narbut_Narrow_Contrast;
  src: font-url('Narbut_Narrow_Contrast.ttf');
}

@font-face {
  font-family: Narbut_Whirl;
  src: font-url('Narbut_Whirl.ttf');
}

@font-face {
  font-family: OpenSans-CondBold;
  src: font-url('OpenSans-CondBold.ttf');
}

@font-face {
  font-family: OpenSans-CondLight;
  src: font-url('OpenSans-CondLight.ttf');
}

@font-face {
  font-family: OpenSans-CondLightItalic;
  src: font-url('OpenSans-CondLightItalic.ttf');
}

@font-face {
  font-family: Bookman_Old_Style_Bold;
  src: font-url('Bookman_Old_Style_Bold.ttf');
}

@font-face {
  font-family: Bookman_Old_Style_Regular;
  src: font-url('Bookman_Old_Style_Regular.ttf');
}