@font-face {
  font-family: Narbut_Abetka;
  src: url(Narbut_Abetka.ttf);
}

@font-face {
  font-family: Narbut_Classic;
  src: url(Narbut_Classic.ttf);
}

@font-face {
  font-family: Narbut_Extra_Wide;
  src: url(Narbut_Extra_Wide.ttf);
}

@font-face {
  font-family: Narbut_Narrow_Contrast;
  src: url(Narbut_Narrow_Contrast.ttf);
}

@font-face {
  font-family: Narbut_Whirl;
  src: url(Narbut_Whirl.ttf);
}

@font-face {
  font-family: OpenSans-CondBold;
  src: url(OpenSans-CondBold.ttf);
}

@font-face {
  font-family: OpenSans-CondLight;
  src: url(OpenSans-CondLight.ttf);
}

@font-face {
  font-family: OpenSans-CondLightItalic;
  src: url(OpenSans-CondLightItalic.ttf);
}

@font-face {
  font-family: Bookman_Old_Style_Bold;
  src: url(Bookman_Old_Style_Bold.ttf);
}

@font-face {
  font-family: Bookman_Old_Style_Regular;
  src: url(Bookman_Old_Style_Regular.ttf);
}