.navbar {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

#header {
  width: 100%;
  height: 315px;
  background-color: #fff;
  border-bottom: 1px solid #000000;

  .logo {
    max-width: 500px;
    height: 120px;
    float: left;
    margin-left: 60px;
    margin-top: 45px;
    background: image-url("logo-black.png") no-repeat;
    background-size: cover;

    a {
      display: block;
      width: 500px;
      height: 102px;
    }
  }

  iframe {
    float: right;
    margin-top: 9px !important;
    margin-right: -100px !important;
  }

  .nav-menu {
    float: left;
    margin-left: 10px;
    margin-top: 20px;

    li {
      float: left;
      margin-right: 12px;
      font: 20px 'Narbut_Narrow_Contrast', sans-serif;
      color: #CCCCCC;
    }

    li:last-child {
      margin-right: 0;
    }

    li a {
      color: #000;
    }

    li a:hover {
      color: #ff0000
    }

    &-divider {
      color: #a9a9a9;
      font: 16px 'Bookman_Old_Style_Regular', sans-serif;
      font-weight: bold;
    }
  }

  .search {
    position: absolute;
    right: 14px;
    top: 12px;
    margin-top: auto;
    margin-bottom: auto;
    #search {
      width: 240px;
      height: 30px;
      padding-left: 5px;
      border-radius: 0;
      border: 1px solid #a9a9a9;

    }

    .search-button{
      float: right;
      padding: 3px 0 0 0;
      height: 30px;
      width: 30px;
      right: 5px;
      bottom:1px;
      background-color: #fff;
      border: 1px solid #a9a9a9;
      border-radius: 0;
      border-left: 0;

    }

    fa:hover {
      background-color: #d9dae3;
      cursor: pointer;
    }
  }

  .social-header {
    width: 100%;
    height: 55px;
    background-color: #000;

    p {
      float: left;
      color: #fff;
      margin-left: 60px;
      padding-top: 18px;
      font: 18px 'Bookman_Old_Style_Bold', sans-serif;
      text-transform: uppercase;
    }

    .social {
      &-icons {
        float: right;
        margin-right: 60px;
        margin-top: 20px;
      }

      &-icons li {
        float: left;
        margin-right: 15px;
        margin-bottom: 20px;
      }

      & li:last-child {
        margin-right: 0;
      }

      &-icons li a {
        color: #fff;
      }

      &-icons li a:hover {
        color: #ff0000;
      }
    }
  }

  .dot {
    margin-left: 20px !important;
    padding-top: 15px !important;
    i {
      font-size: 8px;
      padding-bottom: 10px !important;
    }
  }

  .divider {
    display: block;
    border-bottom: 1px solid #000;
    margin-top: 1px;
  }

  .divider-nav {
    display: block;
    border-bottom: 1px solid #a9a9a9;
    margin-top: 200px;
  }

}

@media screen and (max-width: 998px){
  .social-icons{
    display: none;
  }

  .logo{
    float:none !important;
    margin-top: 0px !important;
    text-align: center !important;
    margin-left: 0px !important;
  }
  .in{
    padding: 0px;
  }
  .nav-menu {
    margin-left: 0px !important;
    width: 100%;
    li {
      padding: 10px 0px;
      text-align: center;
      float:none !important;
      width: 100%;
      border-bottom: 1px #999999 solid;
    }
    .nav-menu-divider{
      display: none;
    }
  }
}
@media screen and (max-width: 500px){
  .social-header {
    p {
      margin-left: 10px !important;
      padding-top: 18px !important;
      font: 12px 'Bookman_Old_Style_Bold', sans-serif !important;
    }

  }}