#header {
  width: 100%;
  height: 315px;
  background-color: #fff;
  border-bottom: 1px solid #000000;

  .logo {
    width: 500px;
    height: 120px;
    float: left;
    margin-left: 60px;
    margin-top: 45px;
    background: image-url("logo-black.png") no-repeat;
    background-size: cover;

    a {
      display: block;
      width: 500px;
      height: 102px;
    }
  }

  iframe {
    float: right;
    margin-top: 9px !important;
    margin-right: -100px !important;
  }

  .nav-menu {
    float: left;
    margin-left: 60px;
    margin-top: 20px;

    li {
      float: left;
      margin-right: 12px;
      font: 20px 'Narbut_Narrow_Contrast', sans-serif;
      color: #CCCCCC;
    }

    li:last-child {
      margin-right: 0;
    }

    li a {
      color: #000;
    }

    li a:hover {
      color: #ff0000
    }

    &-divider {
      color: #a9a9a9;
      font: 16px 'Bookman_Old_Style_Regular', sans-serif;
      font-weight: bold;
    }
  }

  .search {
    float: right;
    margin-top: 14px;
    margin-right: 50px;

    #search {
      width: 280px;
      height: 30px;
      padding-left: 5px;
    }

    fa {
      height: 30px;
      width: 50px;
      position: relative;
      right: 5px;
      background-color: #fff;
      border: 1px solid #a9a9a9;
    }

    fa:hover {
      background-color: #d9dae3;
      cursor: pointer;
    }
  }

  .social-header {
    width: 100%;
    height: 55px;
    background-color: #000;

    p {
      float: left;
      color: #fff;
      margin-left: 60px;
      padding-top: 18px;
      font: 18px 'Bookman_Old_Style_Bold', sans-serif;
      text-transform: uppercase;
    }

    .social {
      &-icons {
        float: right;
        margin-right: 60px;
        margin-top: 20px;
      }

      &-icons li {
        float: left;
        margin-right: 15px;
        margin-bottom: 20px;
      }

      & li:last-child {
        margin-right: 0;
      }

      &-icons li a {
        color: #fff;
      }

      &-icons li a:hover {
        color: #ff0000;
      }
    }
  }

  .dot {
    margin-left: 20px !important;
    padding-top: 15px !important;
    i {
      font-size: 8px;
      padding-bottom: 10px !important;
    }
  }

  .divider {
    display: block;
    border-bottom: 1px solid #000;
    margin-top: 1px;
  }

  .divider-nav {
    display: block;
    border-bottom: 1px solid #a9a9a9;
    margin-top: 200px;
  }

  .solid-divider {
    display: block;
    border-bottom: 2px solid #000000;
    margin-top: 58px;
    position: relative;
    z-index: 1;
  }
}