.kinoshot-logo {
  width: 100%;
  height: 160px;
  margin-left: auto;
  margin-bottom: 20px;
  margin-right: auto;
  background: image_url("kino.jpeg"), no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.kinoshot-announcements {
  span {
    color: #CCCCCC;
  }
  a {
    color: #2E2F30;
  }
}

.fest-info {
  font: 40px 'OpenSans-CondLight', sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

.text-divider {
  border-top: 1px solid #000;
}

.kinoshot-title {
  text-align: center;
  font: 40px 'Bookman_Old_Style_Bold', sans-serif;
}

.kinofest-text p {
  font: 15px 'Bookman_Old_Style_Regular', sans-serif;
  text-align: justify;
}

.pro-fest-title {
  font: 15px 'Bookman_Old_Style_Bold', sans-serif;
  color: #dc5f63;
  text-align: center;
}

.pro-fest-text {
  font: 15px 'Bookman_Old_Style_Regular', sans-serif;
  text-align: justify;
}

.nominations {
  font: 15px 'Bookman_Old_Style_Regular', sans-serif;
  color: #dc5f63;
  text-align: justify;
}