<div class="col-md-7">
  <h1>Усі категорії</h1>
</div>
<div class="col-md-3">
  <%= render partial: 'shared/right_bar/publications', locals: { title: 'Публікації' } %>
  <%= render partial: 'shared/right_bar/banner' %>
  <%= render 'shared/right_bar/facebook', link: 'https://www.facebook.com/mistoche'  %>
</div>