<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= link_to '', root_path, class: 'logo' %>
        <span class="copyright">2017 © посилайтеся на наші матеріали</span>
      </div>
      <div class="col-md-3">
        Авторський колектив: <br>
        Ярослав Лавров – автор<br>
        Сергій Костенко – автор<br>
      </div>
      <div class="col-md-3">
        Розробка проекту: <br>
        Юрій Цибровський <br>
        Олексій Закружецький <br>
        Олег Пасько <br>
        Богдан Сорока
      </div>
      <div class="col-md-3">
        Ми у Facebook: <br>
        <%= link_to 'Події, життя, історія "Місто на "Че"', 'https://www.facebook.com/mistoche/', target: '_blank' %><br>
        <%= link_to 'Асоціація громадських ініціатив "Місто на "Че"', 'https://www.facebook.com/agimistonache/',
                    target: '_blank' %>
      </div>
    </div>
  </div>
</footer>